.gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        font-family: AvenirBold;
        margin-bottom: 16px;
        margin-left: 5vw;
    }

    &__photo {
        max-width: 90vw;
        margin: 8px auto;
        
    }
}

@include medium {
    .gallery {

        &__title {
            margin-left: 3.125vw;
        }

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 1.5625vw;


        &__photo {
        width: 29.166%;
        height: 126px;
        padding-bottom: 24px;
        }
    }
}

@include huge{

    .gallery {


        &__title {
            margin: 48px auto 64px 12.5vw;
        }

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 12.5vw;


        &__photo {
        width: 23.8;
        height: 193px;
        margin: 12px;
        }
    }

}