.about {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        margin-left: 5vw;
        font-family: AvenirBold;
    }

    &__image {
        max-width: 90vw;
        margin: 24px auto;
        
    }

    &__quote, &__attribution, &__names {
        font-family: AvenirDemi;
    }


    &__quote {
        margin: 0 5vw 32px 5vw;
    }

    &__attribution { 
        margin: 0 5vw 40px 5vw;

    }

    &__names {
        margin: 0 5vw 24px 5vw;

    }

    &__body {
        margin: 0 5vw 72px 5vw;
    }
}

@include medium {

    .about {
        
        &__title {
            margin-left: 3.125vw;
        }

        &__quote {
            margin: 0 3.125vw 32px 3.125vw;
        }
    
        &__attribution { 
            margin: 0 3.125vw 40px 3.125vw;
    
        }
    
        &__names {
            margin: 0 3.125vw 24px 3.125vw;
    
        }
    
        &__body {
            margin: 0 3.125vw 72px 3.125vw;
        }

        &__image {
            width: 93.75vw;
            height: 362px;
        }

        &__body {
            display: flex;

        }

        & p {
            margin-right: 3.125vw;
        }

}
}

@include huge {

    .about {
        
        margin-top: 48px;

        &__title {
            margin-left: 12.5vw;
        }

        &__quote {
            margin: 48px 30vw 0 18.88vw;
        }
    
        &__attribution { 
            margin: 40px 18.88vw 0 18.88vw;
    
        }
    
        &__names {
            margin: 56px 18.88vw 0 18.88vw;
    
        }
    
        &__body {
            margin: 32px 18.88vw 48px 18.88vw;
        }

        &__image {
            margin-top: 48px;
            width: 62.22vw;
            height: 450px;
        }

        &__body {
            display: flex;

        }

        & p {
            margin-right: 3.333vw;
        }

}
}