@font-face {
    font-family: "AvenirRegular";
    weight: 400;
    src: url("../../assets/fonts/Linotype\ -\ AvenirNextLTPro-Regular.otf") 
}

@font-face {
    font-family: "AvenirDemi";
    weight: 500;
    src: url("../../assets/fonts/Linotype\ -\ AvenirNextLTPro-Demi.otf") 
}

@font-face {
    font-family: "AvenirBold";
    weight: 600;
    src: url("../../assets/fonts/Linotype\ -\ AvenirNextLTPro-Bold.otf") 
}
