.gallery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        font-family: AvenirBold;
        margin-bottom: 16px;
        margin-left: 5vw;
    }

    &__photo {
        max-width: 90vw;
        margin: 8px auto;
        
    }
}