table {
    border-collapse: collapse;
    width: 93.75vw;
    margin-left: 5.125vw;

}

th {
    text-align: left;
    text-transform: uppercase;
    color: $silver;
}

td {
    margin-right: 3.125vw;
    padding-top: 20px;
    padding-bottom: 20px;

}

td.table__button {
    margin-right: 0px;
}

.shows {

    &__title {
        margin-left: 3.125vw;
        margin-top: 20px;
        margin-bottom: 20px;

    }
    

    tbody {
        display: flex;
        justify-content: space-around;

    }

}

.table {
    &__button {
        width: 160px;
        background: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }


}

button {
    background: none;
    border: none;
}






.mobile {
    &__row {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $silver;
        margin-bottom: 16px;
    }

    &__keyword {
        text-transform: uppercase;
        color: $silver;
        margin-bottom: 16px;
        
    }

    &__cell {
        margin-bottom: 24px;
    }

    &__button {
        background: $black;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90vw;
        border-radius: 5px;
        margin-top: 8px;
        margin-bottom: 16px;
    }
}



button {
    color: white;
}

@include huge {
    table {
        margin-left: 25vw;
    }

    .shows {

        &__title {
            margin-top: 48px;
        }
    }

}