@import "./partials/breakpoints";
@import "./partials/fonts";
@import "./partials/colors";
@import "./partials/header";

* {
    box-sizing: border-box;
    font-family: Avenir;
    margin: 0;
    padding: 0;
}


.hero__text {
    padding-top: 50px;
    padding-left: 16px;
    height:183px;
    background-image: url(../assets/images/unsplash/club-1.jpg);
    background-size: cover;
    background-position: center;
    height: 183px;
    color: $white;

}